*, ::before, ::after{
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: white;
  font-family: "Gill Sans", sans-serif;
}

body{
  max-width: 100vw;
  overflow-y: hidden;
}

@keyframes hoverTry {
  0%{
    
  }
}